body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.flex-container{
  display: flex;
}
.container{
  padding: 2.5rem 3rem;
  justify-content: space-between;
  align-items: center;
}

/* style generale ------------- */
.logo{
  width: 121px;
  height: 28px;
  margin-right: 1.7rem;
  cursor: pointer;
}
.p-b {
  align-items: flex-end;
}
.links{
  align-items: center;
}
.p-b li, .links li{
  margin-right: 1.7rem;

  color: #808080;
  cursor: pointer;
}
#only-btn{
  background: rgb(235, 0, 141);
  border-radius: 20px;
  padding: 0.625em 1.5em;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  color: white;
  border: none;
  cursor: pointer;
}


/* style per elementi a comparsa---- */
.link-links{
  position: relative;
}
.sub-menu{
  position: absolute;
  margin-top: 0.5rem;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  padding: 0.5rem 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  display: none;
}
.sub-menu li{
  padding: 0.8rem 1.6rem;
  margin: 0px;
  white-space: nowrap;
}

/* mobile */
.icon-hamburger{
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

.menu-mobile{
  display: none;
}

.mobile-container{
  width: 90%;
  margin: 0px auto;
}
.mob-sub-menu{
  display: none;
  opacity: 0.5; /* DEBUG:  */
}

/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1080px) and (max-width:2000px ){
  .icon-hamburger{
    display: none;
  }

}

/* DESKTOP -------------------------------- */
@media screen and (max-width: 1079px) {
  .p-b, .links{
    display: none;
  }

}
